/Move.class
/MoveComponent.class
/SingleDamageComponent.class
/SingleHealComponent.class
/SpCostComponent.class
/SelfHealComponent.class
/SingleSelectedHealComponent.class
/SoundFXComponent.class
/WalkToComponent.class
